body {
  margin: 0;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  background-color: #111;
  overflow: hidden;
  color: #ccc;
  *::selection {
    color: #111;
    background-color: #090;
  }
  .app-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  button {
    width: 100px;
    border-radius: 16px;
    border: solid 1px #070;
    color: #070;
    background-color: transparent;
    cursor: pointer;
    padding: 5px;
    font-weight: bold;
    &:hover {
      border-color: #090;
      color: #090;
    }
  }
  input, textarea {
      width: calc(100% - 20px);
      margin-bottom: 10px;
      padding: 10px;
      background-color: #ccc;
      color: #111;
  }
  textarea {
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
    max-width: calc(100% - 20px);
    min-height: 15vh;
    max-height: 30vh;
    min-width: calc(100% - 20px);
    cursor: auto;
    resize: none;
  }
  label {
      font-size: 12px;
      text-align: left;
      width: 100%;
      margin-bottom: 2px;
      font-weight: bold;
  }
  .with-ads {
    display: flex;
    flex-direction: column;
    .adsbygoogle {
      height: 20vh !important;
    }
  }
  .hidden {
    display: none;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #070 #111;
  &:focus {
    scrollbar-color: #090 #111;
  }
}

*:hover {
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #111;
}

*::-webkit-scrollbar-thumb {
  background-color: #070;
  border-radius: 5px;
  border: 2px solid #111;
  &:hover {
   background-color: #090
  }
}
