body {
  margin: 0;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  background-color: #111;
  button {
    width: 100px;
    border-radius: 16px;
    border: solid 1px green;
    color: #090;
    background-color: transparent;
    cursor: pointer;
    padding: 5px;
    font-weight: bold;
  }
  input {
      width: calc(100% - 20px);
      margin-bottom: 10px;
      padding: 10px;
      background-color: #ccc;
  }
  label {
      font-size: 12px;
      color: #ccc;
      text-align: left;
      width: 100%;
      margin-bottom: 2px;
      font-weight: bold;
  }
}
