version: "3.8"
services:
  postgres:
    env_file:
      - ./server/.env
    image: "postgres:latest"
    environment:
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
  nginx:
    depends_on:
      - api
      - client
    restart: always
    volumes:
      - ./nginx/conf/:/etc/nginx/conf.d/:ro
      - ./certbot/www:/var/www/certbot/:ro
      - ./certbot/conf/:/etc/nginx/ssl/:ro
    build:
      context: ./nginx
    ports:
      - "80:80"
  certbot:
    image: certbot/certbot:latest
    volumes:
      - ./certbot/www/:/var/www/certbot/:rw
  api:
    container_name: friendle-api
    env_file:
      - ./server/.env
    depends_on:
      - postgres
    restart: on-failure:10
    build:
      context: "./server"
    volumes:
      - /app/node_modules
      - ./server:/app
    environment:
      - DATABASE_URL=${DATABASE_URL}
  client:
    container_name: friendle-client
    env_file:
      - ./client/.env
    stdin_open: true
    environment:
      - CHOKIDAR_USEPOLLING=true
    build:
      context: ./client
    volumes:
      - /app/node_modules
      - ./client:/app
