version: "3.8"
services:
  postgres:
    env_file:
      - ./server/.env
    image: "postgres:latest"
    environment:
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
  nginx:
    depends_on:
      - api
      - client
    restart: always
    build:
      context: ./nginx
    ports:
      - "80:80"
  api:
    container_name: friendle-api
    env_file:
      - ./server/.env
    depends_on:
      - postgres
    restart: on-failure:10
    build:
      dockerfile: Dockerfile.dev
      context: "./server"
    volumes:
      - /app/node_modules
      - ./server:/app
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - NODEMAILER_HOST=${NODEMAILER_HOST}
      - NODEMAILER_PORT=${NODEMAILER_PORT}
      - NODEMAILER_USERNAME=${NODEMAILER_USERNAME}
      - NODEMAILER_PASSWORD=${NODEMAILER_PASSWORD}
      - REST_API_PORT=${REST_API_PORT}
  client:
    container_name: friendle-client
    env_file:
      - ./client/.env
    stdin_open: true
    environment:
      - CHOKIDAR_USEPOLLING=true
    build:
      dockerfile: Dockerfile.dev
      context: ./client
    volumes:
      - /app/node_modules
      - ./client:/app
